.cont {
  background: url("../assets/top.jpg");
  background-repeat: no-repeat;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #24454c;
  height: 800px;
  width: 100%;
  overflow: hidden;
  margin-bottom: 3rem;
}

.bigtitle {
  margin-top: 1rem;
  font-size: 9rem;
  color: #24454c;
  text-shadow: 5px 0 0 #fff, -5px 0 0 #fff, 0 5px 0 #fff, 0 -5px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.smalltitle {
  margin-top: 60 rem;
  color: #24454c;
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff,
    1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
}
.gobutton {
  margin-top: 3rem;
  width: 100px;
  height: 100px;
  background-color: #589ba4;
  color: #24454c;
  font-size: 3rem;
  border-radius: 50px;
  padding: 0;
}

@media only screen and (min-device-width: 1900px) {
  .cont {
    height: 900px;
  }
  .bigtitle {
    margin-top: 12rem;
  }
}

@media only screen and (max-device-width: 1200px) {
  .bigtitle {
    margin-top: 1rem;
    font-size: 4rem;
    text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff,
      1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  }
}
